html {
	height:100%;
}

body {
	min-height:100%;
}

body {
	background-image: url('background.png');
	font-family:"Helvetica";
	position:relative;
}

.header {
	background-color:#FDFDFD;
	margin:auto;
	display:flex;
	justify-content: space-between;

	margin-top:-10px;
	margin-left:-10px;
	margin-bottom:10px;
	height:70px;
}

.logo img {
	-moz-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	transform:scale(0.6);
	margin-top:-10px;
}

.content {
	background-color:#FDFDFD;
	margin:auto;

	min-height: 100px;
	margin-left:-10px;
	margin-top:-10px;
	padding-bottom:20px;
	font-family:"Helvetica";
}

.content p {
	padding:20px;
}

.footer {
	background-color:#340059;
	color:#DDD3FF;
	margin:auto;
	padding:20px;
	text-align:center;
	position:absolute;
	bottom:0;
	display:block;
}

.footer a {
	text-decoration:none;
	font-weight:bold;
	color:#6159FF;
}

.content .featurephotos {
	width:100%;
	position: relative;
}

.content .featurephotos img {
	width:100%;
	max-height: 400px;
	object-fit: cover;
}

.header,
.content,
.footer {
	width:100%;
}

nav {
	z-index:200;
	margin-top:-10px;
	margin-right:10px;
}
nav ul {
	text-align: center;
}
nav ul li {
	display:inline-block;
}
nav ul li a {
	padding: 18px;
	font-family:"Trebuchet MS";
	text-transform:uppercase;
	color: #16005B;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
	display:block;
}
nav ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(47, 0, 89, 0.7);
}

.search input {
	outline:none;
}
.search input[type=search] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	font-family:inherit;
	font-size:100%;
}
.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
	display: none; 
}
.search input[type=search] {
	background:url("/resources/icons/search-icon.png") no-repeat 9px center;
	border:solid 1px #ccc;
	padding:9px 10px 9px 32px;
	width:200px;
		-webkit-border-radius:10em;
	-moz-border-radius:10em;
	border-radius: 10em;
		-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search input[type=search]:focus {
	width:200px;
	background-color:#fff;
	border-color:#66CC75;
		-webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
	-moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
	box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}
.search input:-moz-placeholder {
	color: #999;
}
.search input::-webkit-input-placeholder {
	color: #999;
}